#Eclipse stuff
.project

#Java development tools
.classpath

#Intellij when it is added
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/modules.xml
.idea/libraries/*
*.iml

#Outputs
out/*
target/*

#Libs
lib/*
